<div class="header">Registrar Usuario</div>
 <!-- Guardar los datos del usuario -->
<form class="register-form"[formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
  
  <!-- Datos del usuario -->
  <div class="form-group">
    <mat-form-field class="table-inputs">
      <input matInput placeholder="ID" formControlName="id">
    </mat-form-field>
    <mat-form-field class="table-inputs">
      <input matInput placeholder="Nombre" formControlName="name">
    </mat-form-field>
    <mat-form-field class="table-inputs">
      <input matInput placeholder="Rol" formControlName="role">
    </mat-form-field>
    <mat-form-field class="table-inputs">
      <input matInput placeholder="Contraseña" formControlName="password" type="password">
    </mat-form-field>
    <mat-form-field class="table-inputs">
      <input matInput placeholder="DNI" formControlName="dni">
    </mat-form-field>
  </div>

  <!-- Botón de crear el usuario -->
  <mat-dialog-actions class="dialog-actions">
  <div class="dialog-actions-container">
  <button class="button-add" mat-raised-button color="primary" type="submit">Crear</button>
  <button class="button-cancel" mat-button mat-dialog-close color="primary">Cancelar</button>
  </div>
  </mat-dialog-actions>

</form>