.header {
    padding: 25px;
    color: #717171;
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

.register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    place-items: center;
  }

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  .table-inputs{
    width: 400px;
  }

  .button-add{
    height: 50px; ;
    width: 150px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-cancel{
    color: white;
    background-color: red;
    height: 50px; ;
    width: 150px;
    font-size: 18px;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
  }
  
  .dialog-actions-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 10px; /* Ajusta el espacio entre los botones según tus preferencias */
  }