.cuerpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .fila{
    border: 1px solid rgb(156, 156, 156);
    padding: 10px;
    margin: 10px;
    display: flex;
  }

  .columna1{
    flex-basis: 60%;
  }

  .columna2{
    flex-basis: 40%;
  }

  .columna3,
  .columna4{
    flex-basis: 50%;
  }

  .columna4{
    display: flex;
    align-items: center;
  }


  .labels {
    font-size: 16px; 
    left: 20px; 
    top: 10px; 
  }

  .centro-acopio {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .datos-socio {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .datos-comprobante{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: 50px;
  }

  .datos-compra{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
  }

  .datos-compraventa {
    display: flex;
    gap: 10px; /* Ajusta el espacio entre los inputs según tus preferencias */
  }

  .tabla-datos{
    width: 100%;
  }
  
  .custom-button {
    background-color: transparent;
    border: none;
    transition: transform 0.3s;
  }
  
  .custom-button:hover {
    transform: scale(1.2);
  }
  
  .custom-icon {
    color: green;
    transform: scale(1.6);
  }
  
  .botones{
    padding-left: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .btn {
    margin-right: 10px;
    font-size: 16px;
  }