.main_content .header {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  font-size: 35px;
}

table {
  width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-btn,
.add-user-btn {
  font-size: 12px;
  height: 24px;
  padding: 0 12px;
  width: 150px; /* Nuevo */
}

.add-user-btn {
  margin-right: 8px; /* Modificado */
}

.date-picker {
  width: 150px;
  font-size: 14px;
}
