.header {
    padding: 25px;
    color: #717171;
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

.register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    place-items: center;
  }

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  .id,
  .name,
  .role,
  .password{
    width: 400px;
  }

  button[type="submit"] {
    width: 100%;
    padding: 25px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  