.labels{
  font-size: 16px; 
  position: relative;
  left: 20px; 
  top: 10px; 

}
.form-group{
  display: flex;
  max-width: 1400px;
  max-height: 800px;
}
.button-add{
  height: 50px; ;
  width: 250px;
  font-size: 18px;
  left: 220px;
}

.div1{  
  flex: 50%;
  padding: 0 10px;
}

.div2{
  position: relative;
  top: 20px;
}

.mat-tab-group {
    margin-bottom: 48px;
  }

.custom-input{
  margin: 10px;
  display: flex;
  height: 70px;
  width: 650px;
  
  flex-direction: column;
}

.sticky-tabs {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff; /* Cambia el color de fondo según tus necesidades */
}

.main_content .header {
  padding: 25px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  font-size: 35px;
}

table {
  width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-container {
  display: flex;
  align-items: center;
}

.download-btn,
.add-user-btn {
  top: 15px;
  font-size: 14px;
  height: 42px;
  padding: 0 12px;
  width: 180px; 
}

.add-user-btn {
  margin-right: 8px; 
}

.info {
  margin-top: 30px;
}
