<mat-tab-group>
    <mat-tab label="SOCIO" class="sticky-tabs">
    
      <form
      class="form-group"
      [formGroup]="partner"
      (ngSubmit)="onSubmit(partner)">
      <div class="div1"> <br>
      <label class="labels">DNI</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="DNI" formControlName="dni"/>
      </mat-form-field>
      <label class="labels">NOMBRE</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Nombre" formControlName="nombre"/>
      </mat-form-field>
      <label class="labels">ESTADO</label>
      <mat-form-field class="custom-input">
        <mat-select disableRipple formControlName="estado">
          <mat-option value="H">HABIL</mat-option>
          <mat-option value="R">RETIRADO</mat-option>
          <mat-option value="NH">NO HABIL</mat-option>
        </mat-select>
      </mat-form-field>
      <label class="labels">TECNICO</label>
      <mat-form-field class="custom-input">
        <mat-select disableRipple formControlName="tecnico">
          <mat-option value="2">Delmer A. Acuña Sobrado</mat-option>
          <mat-option value="9">Erick Marteines Mendieta</mat-option>
          <mat-option value="7">Gian Marco Flores Lopez</mat-option>
          <mat-option value="10">Jean Carlo Soto de la Cruz</mat-option>
          <mat-option value="5">Jefry Alexander Zegarra Campos</mat-option>
          <mat-option value="1">Leonel C. Padilla Herrera</mat-option>
          <mat-option value="6">Mily Villanueva Delgado</mat-option>
          <mat-option value="3">Mishel sevillano morillo</mat-option>
          <mat-option value="8">Nick Anderson Pinedo Lopez</mat-option>
          <mat-option value="4">Nurali Malla Correa</mat-option>
        </mat-select>
      </mat-form-field>
      <label class="labels">FECHA DE NACIMIENTO</label>
      <mat-form-field class="custom-input">
        <input matInput  formControlName="fechanaci" [matDatepicker]="pickerNacimiento">
        <mat-datepicker-toggle matIconSuffix [for]="pickerNacimiento"></mat-datepicker-toggle>
        <mat-datepicker #pickerNacimiento></mat-datepicker>
      </mat-form-field>
      <label class="labels">ESTADO CIVIL </label>
      <mat-form-field class="custom-input">
        <mat-select disableRipple formControlName="estadocivil">
          <mat-option value="SOLTERO">SOLTERO (A)</mat-option>
          <mat-option value="CONVIVIENTE">CONVIVIENTE</mat-option>
          <mat-option value="CASADO">CASADO (A)</mat-option>
          <mat-option value="VIUDO">VIUDO (A)</mat-option>
          <mat-option value="SEPARADO">SEPARADO (A)</mat-option>
          <mat-option value="DIVORCIADO">DIVORCIADO (A)</mat-option>
        </mat-select>
      </mat-form-field>
      <label class="labels">GRADO INSTITUCIÓN</label>
      <mat-form-field class="custom-input">
      <mat-select disableRipple formControlName="gradoinstruccion">
          <mat-option value="NINGUNO">NINGUNO</mat-option>
          <mat-option value="INICIAL">INICIAL</mat-option>
          <mat-option value="PRIMARIA COMPLETA">PRIMARIA COMPLETA</mat-option>
          <mat-option value="PRIMARIA INCOMPLETA">PRIMARIA INCOMPLETA</mat-option>
          <mat-option value="SECUNDARIA COMPLETA">SECUNDARIA COMPLETA</mat-option>
          <mat-option value="SECUNDARIA INCOMPLETA">SECUNDARIA INCOMPLETA</mat-option>
          <mat-option value="SUPERIOR COMPLETA">SUPERIOR COMPLETA</mat-option>
          <mat-option value="SUPERIOR INCOMPLETA">SUPERIOR INCOMPLETA</mat-option>
          <mat-option value="TECNICO SUPERIOR">TECNICO SUPERIOR</mat-option>
          <mat-option value="SIN ESTUDIOS">SIN ESTUDIOS</mat-option>
        </mat-select>
      </mat-form-field>
      <label class="labels">TELEFONO</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Télefono" formControlName="telefono"/>
      </mat-form-field>
      <label class="labels">COMITE SECTORIAL</label>
      <mat-form-field class="custom-input">
         <mat-select disableRipple formControlName="comitesectorial">
          <mat-option value="ACAPCEAPAAH - T">ACAPCEAPAAH - T</mat-option>
          <mat-option value="ADEPALMA">ADEPALMA</mat-option>
          <mat-option value="APAIN">APAIN</mat-option>
          <mat-option value="APAMIL">APAMIL</mat-option>
          <mat-option value="APPAIBO">APPAIBO</mat-option>
          <mat-option value="APRODEPAT">APRODEPAT</mat-option>
          <mat-option value="APUMHSA">APUMHSA</mat-option>
          <mat-option value="ASAPAT">ASAPAT</mat-option>
          <mat-option value="ASPAL">ASPAL</mat-option>
          <mat-option value="ASPALTRU">ASPALTRU</mat-option>
          <mat-option value="ASPAT">ASPAT</mat-option>
          <mat-option value="ASSUPTA">ASSUPTA</mat-option>
          <mat-option value="ELBER ALBAN DIAZ">ELBER ALBAN DIAZ</mat-option>
          <mat-option value="HATUM PALMA ASS">HATUM PALMA ASS</mat-option>
          <mat-option value="PARAISO">PARAISO</mat-option>
          <mat-option value="SANTO CRISTO">SANTO CRISTO</mat-option>
          <mat-option value="VALLE RIO CAÑUTILLO">VALLE RIO CAÑUTILLO</mat-option>          
          </mat-select>
      </mat-form-field>
      <label class="labels">ENTIDAD BANCARIA</label>
      <mat-form-field class="custom-input">
          <mat-select disableRipple formControlName="entidadbancaria">
            <mat-option value="CAJA PIURA">CMAC PIURA</mat-option>
          <mat-option value="BANCO DE LA NACION">B. NACION</mat-option>
          <mat-option value="COOPACT">COOPACT</mat-option>
   
          </mat-select>
      </mat-form-field>
      <label class="labels">NÚMERO DE CUENTA</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Número de cuenta" formControlName="nrocuenta"/>
      </mat-form-field>

      
    </div>
    <div class="div2">
      
      <label class="labels">E-MAIL</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="E-mail" formControlName="email"/>
      </mat-form-field>
      <label class="labels">RESIDENCIA</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Residencia" formControlName="residencia"/>
      </mat-form-field>
      <label class="labels">LOCALIDAD</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Localidad" formControlName="localidad"/>
      </mat-form-field>
      <label class="labels">DISTRITO</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Distrito" formControlName="distrito"/>
      </mat-form-field>
      <label class="labels">PROVINCIA</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Provincia" formControlName="provincia"/>
      </mat-form-field>
      <label class="labels">DEPARTAMENTO</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Departamento" formControlName="departamento"/>
      </mat-form-field>
      <label class="labels">BENEFICIARIO</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Beneficiario" formControlName="beneficiario"/>
      </mat-form-field>
      <label class="labels">DNI BENEFICIARIO</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="DNI Beneficiario" formControlName="dnibeneficiario"/>
      </mat-form-field>
      <label class="labels">ESTADO PREDIO</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Estado predio" formControlName="estadodelpredio"/>
      </mat-form-field>

      <label class="labels">DNI CONYUGE</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="DNI de cconyuge" formControlName="dniconyuge"/>
      </mat-form-field>

      <label class="labels">NOMBRE CONYUGE</label>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Nombre de conyuge" formControlName="nombreconyuge"/>
      </mat-form-field>
      
      <mat-dialog-actions class="dialog-actions">
        <div class="dialog-actions-container">
      <button class="button-add" mat-raised-button color="primary" type="submit" (click)="onSubmit(partner)">Guardar</button> 
      <button class="button-cancel" mat-button mat-dialog-close color="primary">Cancelar</button>
    </div>
      </mat-dialog-actions>
    </div>
      </form>
    </mat-tab>
    
    <mat-tab label="DETALLE DE PREDIO" class="sticky-tabs">
      <div class="info">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="mat-table">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element" (click)="openEditionDialog(element)">{{ element.id }}</td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="dni">
              <th mat-header-cell *matHeaderCellDef>DOCUMENTO</th>
              <td mat-cell *matCellDef="let element" (click)="openEditionDialog(element)">{{ element.documento }}</td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>CONDICION</th>
              <td mat-cell *matCellDef="let element" (click)="openEditionDialog(element)">{{ element.condicion }}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef>DOC GENERAL</th>
              <td mat-cell *matCellDef="let element" (click)="openEditionDialog(element)">{{ element.docgeneral }}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="fechanaci">
              <th mat-header-cell *matHeaderCellDef>OBSERVACIONES</th>
              <td mat-cell *matCellDef="let element" (click)="openEditionDialog(element)">{{ element.observaciones }}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="residencia">
              <th mat-header-cell *matHeaderCellDef>NOMBRE PREDIO</th>
              <td mat-cell *matCellDef="let element" (click)="openEditionDialog(element)">{{ element.nombrepredio }}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="localidad">
              <th mat-header-cell *matHeaderCellDef>TITULAR 1</th>
              <td mat-cell *matCellDef="let element" (click)="openEditionDialog(element)">{{ element.titular1 }}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="distrito">
              <th mat-header-cell *matHeaderCellDef>TITULAR 2</th>
              <td mat-cell *matCellDef="let element" (click)="openEditionDialog(element)">{{ element.titular2 }}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="provincia">
              <th mat-header-cell *matHeaderCellDef>AREA</th>
              <td mat-cell *matCellDef="let element" (click)="openEditionDialog(element)">{{ element.area }}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="departamento">
              <th mat-header-cell *matHeaderCellDef>LOCALIDAD PREDIO</th>
              <td mat-cell *matCellDef="let element" (click)="openEditionDialog(element)">{{ element.localidadpred }}</td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="deleteRow(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" [@hoverAnimation]="row.hoverState" (mouseover)="row.hoverState = 'hovered'" (mouseout)="row.hoverState = 'initial'"></tr>
            
          </table>
    
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  