<mat-tab-group>
    <mat-tab label="SOCIO" class="sticky-tabs">
      <form
      class="form-group"
      [formGroup]="partner"
      (ngSubmit)="onSubmit(partner)"
    >
      <mat-form-field class="custom-input">
        <input matInput placeholder="DNI" formControlName="dni"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Nombre" formControlName="nombre"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Estado" formControlName="estado"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Fecha de nacimiento" formControlName="fechanaci"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Estado Civil" formControlName="estadocivil"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Grado Instrucción" formControlName="gradoinstruccion"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Télefono" formControlName="telefono"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Comite sectorial" formControlName="comitesectorial"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Entidad bancaria" formControlName="entidadbancaria"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Número de cuenta" formControlName="nrocuenta"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="E-mail" formControlName="email"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Residencia" formControlName="residencia"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Localidad" formControlName="localidad"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Distrito" formControlName="distrito"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Provincia" formControlName="provincia"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Departamento" formControlName="departamento"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Beneficiario" formControlName="beneficiario"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="DNI Beneficiario" formControlName="dnibeneficiario"/>
      </mat-form-field>
      <mat-form-field class="custom-input">
        <input matInput placeholder="Estado predio" formControlName="estadodelpredio"/>
      </mat-form-field>
      </form>
      <button class="button-add" mat-raised-button color="primary" type="submit" (click)="onSubmit(partner)">Guardar</button>
    </mat-tab>
    
    <mat-tab label="Datos Secundarios" class="sticky-tabs">
    </mat-tab>
  </mat-tab-group>
  