.container {
  display: flex;
  height: 100vh;
}

.sidebar-container {
  width: 15%;
  background-color: #673ab7;;
}

.content-container {
  flex-grow: 1;
  padding: 20px; /* Ajusta el valor según el espacio deseado */
}
