
<div class="wrapper">
    <div class="sidebar">
        <h2>ACEPAT</h2>
        <ul>
            <li><a href="acopio-racimos"><i class="fas fa-home"></i>Acopio de racimos</a></li>
            <li><a href="creacion-usuarios"><i class="fas fa-user"></i>Usuarios</a></li>
             <!-- <li><a href="#"><i class="fas fa-address-card"></i>Modulo 3</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i>Modulo 4</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Modulo 5</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Modulo 6</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Modulo 7</a></li>  -->
        </ul> 
    </div>
    <div class="main_content">
        <div class="info">
          <router-outlet></router-outlet>
      </div>
    </div>
</div>

