.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar-container {
  width: 250px;
  color: #bdb8d7;
  box-sizing: border-box;
}

.content-container {
  flex-grow: 1;
  padding: 16px;
  box-sizing: border-box;
}
