<mat-nav-list class="sidebar">
    <h3 matSubheader>ACEPAT</h3>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="/acopio-racimos">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Reporte de acopios</span>
    </mat-list-item>
    <!-- <mat-list-item routerLink="/acopio-racimos">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Reporte de materia prima</span>
    </mat-list-item> -->
    <mat-list-item routerLink="/creacion-usuarios">
        <mat-icon mat-list-icon>person</mat-icon>
        <span mat-line>Socios</span>
    </mat-list-item>
    <mat-list-item routerLink="/usersmanagement">
        <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
        <span mat-line>Administrador</span>
    </mat-list-item>

    <mat-divider></mat-divider>
    <mat-list-item (click)="logout()" routerLink="">
        <mat-icon mat-list-icon>logout</mat-icon>
        <span mat-line>Log Out</span>
    </mat-list-item>
</mat-nav-list>
