<mat-nav-list class="sidebar">
  <h3 matSubheader class="sidebar-title">ACEPAT</h3>
  <!-- DIVISOR DE NAVBAR -->
  <mat-divider></mat-divider>
  <ul>
    <li>
      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line class="sidebar-item">Reportes </span>
      </mat-list-item>
      <ul style="--cantidad-items: 1">
        <li>
          <!-- ITEM DE NAVBAR -->
          <mat-list-item routerLink="/acopio-racimos" class="item">
            <mat-icon mat-list-icon>home</mat-icon>
            <span mat-line class="sidebar-item">Reporte de acopios</span>
          </mat-list-item>
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line class="sidebar-item">Maestros </span>
      </mat-list-item>
      <ul style="--cantidad-items: 1">
        <li>
          <!-- ITEM DE NAVBAR -->
          <mat-list-item routerLink="/centro-acopio" class="item">
            <mat-icon mat-list-icon>place</mat-icon>
            <span mat-line class="sidebar-item">Centro Acopio</span>
          </mat-list-item>
        </li>
        <li>
          <!-- ITEM DE NAVBAR -->
          <mat-list-item routerLink="/centro-acopio" class="item">
            <mat-icon mat-list-icon>place</mat-icon>
            <span mat-line class="sidebar-item">Tecnicos</span>
          </mat-list-item>
        </li>
        <li>
          <!-- ITEM DE NAVBAR -->
          <mat-list-item routerLink="/centro-acopio" class="item">
            <mat-icon mat-list-icon>place</mat-icon>
            <span mat-line class="sidebar-item">Transportistas</span>
          </mat-list-item>
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line class="sidebar-item">Socios </span>
      </mat-list-item>
      <ul style="--cantidad-items: 1">
        <li>
          <!-- ITEM DE NAVBAR -->
          <mat-list-item routerLink="/vista-socios" class="item">
            <mat-icon mat-list-icon>person</mat-icon>
            <span mat-line class="sidebar-item">Socios</span>
          </mat-list-item>
        </li>
        <li>
          <!-- ITEM DE NAVBAR -->
          <mat-list-item routerLink="/vista-socios" class="item">
            <mat-icon mat-list-icon>person</mat-icon>
            <span mat-line class="sidebar-item">Proveedores</span>
          </mat-list-item>
        </li>
      </ul>
    </li>
  </ul>
  <!-- ITEM DE NAVBAR -->
  <mat-list-item routerLink="/reporte-acopio-transporte">
    <mat-icon mat-list-icon>local_shipping</mat-icon>
    <span mat-line class="sidebar-item">Acopio Transporte</span>
  </mat-list-item>
  <!-- ITEM DE NAVBAR -->
  <mat-list-item routerLink="/usersmanagement">
    <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
    <span mat-line class="sidebar-item">Administrador</span>
  </mat-list-item>

  <!-- ITEM DE NAVBAR -->
  <mat-list-item routerLink="/compras-acopio">
    <mat-icon mat-list-icon>shopping_basket</mat-icon>
    <span mat-line class="sidebar-item">Compras Acopio</span>
  </mat-list-item>
  <!-- ITEM DE NAVBAR -->
  <mat-list-item routerLink="/acopio-list">
    <mat-icon mat-list-icon>notes</mat-icon>
    <span mat-line class="sidebar-item">Lista de Acopio</span>
  </mat-list-item>
  <!-- ITEM DE NAVBAR -->
  <mat-list-item routerLink="/aport-movement">
    <mat-icon mat-list-icon>monetization_on</mat-icon>
    <span mat-line class="sidebar-item">Movimiento de Aportes</span>
  </mat-list-item>
  <!-- ITEM DE NAVBAR -->
  <mat-list-item routerLink="/lista-deudas">
    <mat-icon mat-list-icon>place</mat-icon>
    <span mat-line class="sidebar-item">Lista de Deudas</span>
  </mat-list-item>
  <!-- ITEM DE NAVBAR -->
  <mat-list-item routerLink="/produccion">
    <mat-icon mat-list-icon>settings</mat-icon>
    <span mat-line class="sidebar-item">Produccion</span>
  </mat-list-item>
  <!-- DIVISOR DE NAVBAR -->
  <mat-divider></mat-divider>
  <!-- ITEM DE NAVBAR -->
  <mat-list-item (click)="logout()" routerLink="">
    <mat-icon mat-list-icon>logout</mat-icon>
    <span mat-line class="sidebar-item">Log Out</span>
  </mat-list-item>
</mat-nav-list>
