.sidebar-title {
    color: white;
    text-align: center;
  }
  
  .sidebar-item {
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
    margin-left: 3px;
 
  }
  
  .sidebar mat-icon {
    color: white;
    vertical-align: middle;
}