.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
  }