<div class="main_content">
  <div class="header">Producción de Materia Prima</div>
  <div class="button-container-padre">
    <div class="fila fila1">
      <div class="columna1">
        <div class="grupo1">
          <div class="input-group">
            <mat-form-field class="produccion">
              <mat-label>PRODUCCIÓN</mat-label>
              <input matInput >
            </mat-form-field>
          </div>
          <div class="input-group">
            <button
              mat-mini-fab
              color="primary"
              aria-label="butoon">
              <mat-icon>add</mat-icon>
            </button>
            
          </div>
          
            <div class="tabla-datos2">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource2" class="mat-table">
          
                  <!-- Name Column -->
                  
                  <ng-container matColumnDef="codigos">
                   <th mat-header-cell *matHeaderCellDef>CODIGO</th> <th mat-header-cell *matHeaderCellDef>CODIGO</th>
                    <td mat-cell *matCellDef="let element" >{{ element.codigos }}</td>
                  </ng-container>
                  
                 
          
                  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns2" [@hoverAnimation]="row.hoverState" (mouseover)="row.hoverState = 'hovered'" (mouseout)="row.hoverState = 'initial'"></tr>
                  
                </table>
                
          
               
              </div>
              
            </div>

         
          <div class="grupo2">
      
          </div>
         
        </div>
      </div>
      <div class="columna2">
        <div class="grupotab">
        <div class="input-group">
            <mat-form-field class="example-full-width">
              <mat-label>CODIGO</mat-label>
              <input matInput >
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field class="custom-grupo1">
              <mat-label>GRUPO/FAMILIA</mat-label>
              <input matInput >
            </mat-form-field>
          </div>
          <div class="input-group">
            <button
              mat-mini-fab
              color="primary"
              aria-label="button">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div class="grupotab2">
            <div class="input-group">
                <mat-form-field class="example-full-width">
                  <mat-label>COD SUNAT</mat-label>
                  <input matInput >
                </mat-form-field>
              </div>
              <div class="input-group">
                <mat-form-field class="custom-grupo1">
                  <mat-label>PRODUCTO</mat-label>
                  <input matInput >
                </mat-form-field>
              </div>
              
            </div>
      <div class="grupotab3">
        <div class="tabla-datos">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" class="mat-table">
        
                <!-- Name Column -->
                
                <ng-container matColumnDef="codigo">
                 <th mat-header-cell *matHeaderCellDef>CODIGO</th> <th mat-header-cell *matHeaderCellDef>CODIGO</th>
                  <td mat-cell *matCellDef="let element" >{{ element.codigo }}</td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="cSunat">
                  <th mat-header-cell *matHeaderCellDef>COD_SUNAT</th>
                  <td mat-cell *matCellDef="let element">{{ element.cSunat }}</td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="producto">
                  <th mat-header-cell *matHeaderCellDef>PRODUCTO</th>
                  <td mat-cell *matCellDef="let element">{{ element.producto }}</td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="familia">
                  <th mat-header-cell *matHeaderCellDef>FAMILIA</th>
                  <td mat-cell *matCellDef="let element" >{{ element.familia }}</td>
                </ng-container>
               
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" [@hoverAnimation]="row.hoverState" (mouseover)="row.hoverState = 'hovered'" (mouseout)="row.hoverState = 'initial'"></tr>
                
              </table>
              
        
             
            </div>
            
          </div>
          
      </div>
      </div>
      
    </div>
    
  </div>
  <div class="grupotab4">
    <div class="input-group">      
  <button mat-flat-button color="primary">Nuevo</button>
</div>  
  <div class="input-group">
  <button mat-flat-button color="accent" (click)="openCreationDialog()">Asignar Precio Compra</button>
</div>  

  <div class="input-group">

  <button mat-flat-button color="warn" (click)="openCreationDialog2()">Asignar Precio Venta</button>
</div>  
            </div>
</div>
