.cuerpo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.fila{
  border: 1px solid rgb(156, 156, 156);
  padding: 10px;
  margin: 10px;
  display: flex;
}

.columna1{
  flex-basis: 80%;
}

.columna2{
  flex-basis: 20%;
}

.columna3,
.columna4,
.columna5{
  flex-basis: 33.3%;
  padding-right: 30px;
}

.labels {
  font-size: 16px; 
  left: 20px; 
  top: 10px; 
}

.datos-socio{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ubicacion{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.botones{
  padding-left: 20px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  margin-right: 10px;
  font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}