<div class="main_content">
  <div class="header">Socios</div>

  <div class="button-container">
    <!-- Botón de agregar usuario -->
    <button
      mat-raised-button
      color="primary"
      class="add-user-btn"
      (click)="openDialog()"
    >
      <mat-icon>face</mat-icon>
      Socio
    </button>
    <button mat-raised-button color="primary" class="add-user-btn">
      <mat-icon>home</mat-icon>
      Fundo
    </button>

    <button mat-raised-button color="primary" class="add-user-btn">
      <mat-icon>person</mat-icon>
      Parientes
    </button>
    <button mat-raised-button color="primary" class="add-user-btn">
      <mat-icon>attach_money</mat-icon>
      Cta. Banco
    </button>
    <button mat-raised-button color="primary" class="add-user-btn">
      <mat-icon>check_circle</mat-icon>
      Estado
    </button>
    <button mat-raised-button color="primary" class="add-user-btn">
      <mat-icon>map</mat-icon>
      Ubigeo
    </button>

    <!-- Botón de descarga -->
    <button
      mat-raised-button
      color="primary"
      class="download-btn"
      (click)="exportToExcel()"
    >
      <mat-icon>get_app</mat-icon>
      Exportar a Excel
    </button>
  </div>

  <div class="info">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-table">
        <!-- Position Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>FECHA DE CREACIÓN</th>
          <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>CODIGO</th>
          <td mat-cell *matCellDef="let element" (click)="openDialog2(element)">{{ element.codigo }}</td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef>DNI</th>
          <td mat-cell *matCellDef="let element" (click)="openDialog2(element)">{{ element.dni }}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="socio">
          <th mat-header-cell *matHeaderCellDef>SOCIO</th>
          <td mat-cell *matCellDef="let element" (click)="openDialog2(element)">{{ element.socio }}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="central">
          <th mat-header-cell *matHeaderCellDef>CENTRAL</th>
          <td mat-cell *matCellDef="let element" (click)="openDialog2(element)">{{ element.central }}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="local">
          <th mat-header-cell *matHeaderCellDef>LOCAL</th>
          <td mat-cell *matCellDef="let element" (click)="openDialog2(element)">{{ element.local }}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef>DIRECCION</th>
          <td mat-cell *matCellDef="let element" (click)="openDialog2(element)">{{ element.direccion }}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="estados">
          <th mat-header-cell *matHeaderCellDef>ESTADO</th>
          <td mat-cell *matCellDef="let element" (click)="openDialog2(element)">{{ element.estados }}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="fundos">
          <th mat-header-cell *matHeaderCellDef>FUNDOS</th>
          <td mat-cell *matCellDef="let element" (click)="openDialog2(element)">{{ element.fundos }}</td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteRow(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" [@hoverAnimation]="row.hoverState" (mouseover)="row.hoverState = 'hovered'" (mouseout)="row.hoverState = 'initial'"></tr>
        
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
